/__pycache__/Character_pattern.cpython-39.pyc
/Pattern/person/__pycache__/Hero_pattern.cpython-39.pyc
/Pattern/__pycache__/Character_pattern.cpython-39.pyc
/__pycache__/art.cpython-39.pyc
/Pattern/person/__pycache__/archer_pattern.cpython-39.pyc
/Pattern/person/__pycache__/mag_pattern.cpython-39.pyc
/Pattern/person/__pycache__/Warrion_pattern.cpython-39.pyc
/Pattern/person/__pycache__/Warrior_pattern.cpython-39.pyc
