/__pycache__/Character_pattern.cpython-39.pyc
/Pattern/person/__pycache__/Hero_pattern.cpython-39.pyc
/Pattern/__pycache__/Character_pattern.cpython-39.pyc
/__pycache__/art.cpython-39.pyc
/Pattern/person/__pycache__/archer_pattern.cpython-39.pyc
/Pattern/person/__pycache__/mag_pattern.cpython-39.pyc
/Pattern/person/__pycache__/Warrion_pattern.cpython-39.pyc
/Pattern/person/__pycache__/Warrior_pattern.cpython-39.pyc
/Pattern/NPC/__pycache__/craftsman.cpython-39.pyc
/Pattern/NPC/__pycache__/grasser.cpython-39.pyc
/Pattern/NPC/__pycache__/NPC_pattern.cpython-39.pyc
/Pattern/NPC/__pycache__/trader.cpython-39.pyc
/Pattern/NPC/__pycache__/travel_mag.cpython-39.pyc
/Pattern/Enemy/__pycache__/devil.cpython-39.pyc
/Pattern/Enemy/__pycache__/Enemy_pattern.cpython-39.pyc
/Pattern/person/__pycache__/archer.cpython-39.pyc
/Pattern/person/__pycache__/mag.cpython-39.pyc
/Pattern/person/__pycache__/Warrior.cpython-39.pyc
